/* identifiez-vous */
html { 
  font-family: Verdana, sans-serif;
  font-size: 1em;
 }

header img {
  float: left;
  margin-bottom: 5px;
}
body  {
  background-image: url(fond2.jpg);
  font-family: verdana, tahoma, sans-serif;
  font-size: 1em; 
  box-sizing: content-box;
  min-width: 970px;
  position: relative;
  margin-bottom: 100px;
 } 

div{
  float:left;
  clear: both;
}

header, footer { 
  font-family: 'cursive-font', cursive;;
  font-size: 1em;
  font-style: italic;
  text-align: justify;
  background-color: lightGoldenRodYellow ;
  padding: 0.5%; 
}

section { 
  box-shadow: 4px 4px grey;
  border-radius: 5px;          
  box-sizing: border-box;
  width: 49%;
  margin: 0.5%;
  padding: 1%;
  border: 1px solid black;
  text-align:justify;
  height: 275px; 
  overflow: auto;
  background-color: rgb(255, 241, 222);
  line-height: 150%;
  float: left;
}

footer {
  font-size: 0.9em;
  text-align: center;
  margin-top: 50px;
  clear: both;
  height: auto;
  width: 100%;
  position: relative;
}

footer img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

section h1 { 
  font-size:1.3em;
  text-decoration:underline;
  font-family:"lucida calligraphy", fantasy;
  color:blue;
  margin:0.3em;
  padding: 0;
}   